<p><%= @ask %></p> <!-- must use p tag so there is no indentation -->
<p><%= @answer %></p>
<%= link_to "going back", "/ask" %>

<!-- NEXT STEP, CREATE FORM WIIH INPUT FIELD & SUBMIT BUTTON DONE -->

<!-- TO CONTROLLER . in path /answer . questions_controller
need to find the routes for that
 -->


