// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// $subgray = #272822;

body {
  background: #272822;
}



h1 {
  color: #3f49c5;
}

p {
  color: #3f49c5;
}
